# Exploring a DataSet

Now that we have seen the basic pieces of Altair's API, it's time to practice using it to explore a new dataset.
With your partner, choose one of the following three datasets, detailed below.

As you explore, try to make use of everything we have talked about:

- what *encodings* might make sense for this data?
- what *mark* types can you use with these encodings?
- what *binnings* and *aggregations* might you use?
- can you use *layers*, *hconcats*, and *vconcats* to give a fuller picture of the data?

We'll set aside about 20 minutes for you to work with your partner on this

In [1]:
from vega_datasets import data

## Seattle Weather

This data includes daily precipitation, temperature range, wind speed, and weather type as a function of date between 2012 and 2015 in Seattle.

In [2]:
weather = data.seattle_weather()
weather.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

## Gapminder

This data consists of population, fertility, and life expectancy over time in a number of countries around the world.

In [3]:
gapminder = data.gapminder()
gapminder.head()

   cluster      country  fertility  life_expect       pop  year
0        0  Afghanistan        7.7       30.332   8891209  1955
1        0  Afghanistan        7.7       31.997   9829450  1960
2        0  Afghanistan        7.7       34.020  10997885  1965
3        0  Afghanistan        7.7       36.088  12430623  1970
4        0  Afghanistan        7.7       38.438  14132019  1975

## Population

This data contains the US population sub-divided by age and sex every decade from 1850 to near the present.

In [4]:
population = data.population()
population.head()

   age   people  sex  year
0    0  1483789    1  1850
1    0  1450376    2  1850
2    5  1411067    1  1850
3    5  1359668    2  1850
4   10  1260099    1  1850